@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Bundled Boostrap template</title>
    @Styles.Render("~/css/minify")
</head>
<body>
    <div class="container">
        <h1>Minifying and Bundling CSS/JavaScript</h1>
    </div>
    @Scripts.Render("~/js/minify")
</body>
</html>
